<section>
	<p style="font-size: 22px; padding-left: 20px;">
		<div class="jumbotron">
      <h1>Welcome!</h1>
        <p style="font-size: 22px;">Первый в мире удобный менеджер флеш-карточек. Именно так.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="#" role="button">Далее »</a>
        </p>
      </div>
	</p>
</section>

