<section>
	<table class="table">
		<tr>
			<td><b>№</b></td>
			<td><b>Оригинал</b></td>
			<td><b>Перевод</b></td>
			<td><b>Дата пересмотра</b></td>
		</tr>

		<tr>
			<td><%= @card.id %></td>
			<td><%= @card.original_text %></td>
			<td><%= @card.translated_text %></td>
			<td><%= @card.review_date.strftime("%d/%m/%Y") %></td>
		</tr>
	</table>
</section>